<div>
  {{#each this}}
  <section class="card">
    <div class="card-body">
      {{content}}
    </div>
    <div class="m-3">
      <p class="font-italic">{{user.user_name}} on {{format_date created_at}}</p>
    </div>
  </section>
  {{/each}}
</div>