<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechSpot</title>
</head>

    <div>
        <header>
            <h1>TechSpot</h1>
            <nav>
                <a href="/">Home</a>
                {{#if loggedIn}}
                <a href="/dashboard">Dashboard</a>
                <a href="/dashboard/create">Create Post</a>
                <button id="logout">Logout</a>
                {{else}}
                <a href="/login">Login</a>
                {{/if}}
            </nav>
        </header>

        <main>
            {{{ body }}}
        </main>

        <footer>
            <div>
                <p>
                <a href="/">Home</a>
                {{#if loggedIn}}
                <a href="/dashboard">Dashboard</a>
                <a href="/dashboard/create">Create Post</a>
                <a href="/logout">Logout</a>
                {{else}}
                <a href="/login">Login</a>
                {{/if}}
                </p>
            </div>
        </footer>
    </div>
{{#if loggedIn}}
<script src="/js/logOut.js"></script>
{{/if}}
</body>
</html>