<div class="card">
    <h2 class="card-header bg-dark text-light text-center">Your Posts</h2>
{{#if posts.length}}
    <div class="card-body">
    {{#each posts as |post|}}
        {{> post-info post}}
        </div>
            <a href="/dashboard/edit/{{post.id}}" class="btn btn-primary float-end">Edit post</button></a>
    {{/each}}

{{else}}
<p class="card-body text-center">You do not currently have any posts. Click on 'New Post' so we can change that!</p>
    </div>

{{/if}}
