<div class="card">
<h2 class="card-header bg-dark text-light">Login:</h2><hr>
<form class="login-form form-control">
  <div>
    <label class="form-label" for="email-login">Email:</label>
    <input class="form-control" type="text" id="email-login" />
  </div>
  <div>
    <label class="form-label" for="password-login">Password:</label>
    <input class="form-control" type="password" id="password-login" />
  </div>
  <div>
    <a href="/signup"><button class="btn btn-success m-2 float-end" type="button">Signup</button></a>
    <button class="btn btn-primary m-2 float-end" type="submit">Login</button>
  </div>
</form>
</div>

<script src="/js/login.js"></script>