<section class="card">
  <h2 class="text-center card-header bg-dark text-light">Create New Post</h2><hr>

  <form class="create-post card-body">
    <div>
      <label for="subject_name" class="form-label">Subject</label>
      <input class="form-control mb-2" type="text" id="subject_name" name="subject_name" placeholder=""/>
    </div>
    <div>
      <label for="body_content" class="form-label">Body</label>
      <textarea class="form-control" id="body_content" name="body_content" style="height: 250px" rows="3"/></textarea>
    </div>
    <button type="submit" class="float-end btn btn-primary mt-2">Create post</button>
  </form>
</section>

<script src="/js/createPost.js"></script>