<section>
    <a href="/dashboard"> Dashboard</a>
  <h2>Create New Post</h2><hr>

  <form class="create-post">
    <div>
      <label for="subject_name">Title:</label>
      <input type="text" id="subject_name" name="subject_name" placeholder="Text"/>
    </div>
    <div>
      <label for="body_content">Content:</label>
      <input id="body_content" name="body_content" placeholder="Text"/>
    </div>
    <button type="submit">Create post</button>
  </form>
</section>

<script src="/js/createPost.js"></script>