
{{> post-info post}}

{{> comments post.comments}}

{{#if loggedIn}}
<form class="comment-body">
  <div>
    <textarea name="content"></textarea>
  </div>

  <div>
    <button type="submit">Add a comment</button>
  </div>
  
</form>
{{/if}}


{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}