
{{> post-info post}}

{{> comments post.comments}}

{{#if loggedIn}}
<form class="comment-body p-3">
  <div>
    <textarea class="form-control card-body" name="content"></textarea>
  </div>

  <div>
    <button type="submit" class="float-end btn btn-primary m-2">Add a comment</button>
  </div>
  
</form>
{{/if}}


{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}