<div class="card">
<h2 class="card-header bg-dark text-light">Let's you set up with an account!</h2><hr>
<form class="signup-form">
  <div>
    <label class="form-label">Username:</label>
    <input class="form-control" type="text" id="name-signup" />
  </div>
  <div>
    <label class="form-label" for="email-signup">Email:</label>
    <input class="form-control" type="text" id="email-signup" />
  </div>
    <div>
    <label class="form-label" for="github-signup">Github:</label>
    <input class="form-control" type="text" id="github-signup" />
  </div>
  <div>
    <label class="form-label" for="password-signup">Password:</label>
    <input class="form-control" type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit" class="btn btn-success mt-2 float-end">Signup!</button>
  </div>
</form>
</div>

<script src="/js/login.js"></script>